/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*
    SCREEN READER ONLY
*/
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }




/* 
        CSS CODE
*/
:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-dark-cyan-active: hsl(161, 47%, 20%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-cream);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fraunces-font {
    font-family: 'Fraunces', serif;
}

.card-container {
    display: flex;
    align-items: center;
    background-color: var(--neutral-white);
    border-radius: 12px;
}

.img-desktop {
    width: 21rem;
    border-radius: 12px 0 0 12px;
}

.img-mobile {
    display: none;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 17rem;
    padding: 0 2rem;
    gap: 1.9rem;
}

.card-info p,
.prices s {
    font-size: 0.925rem;
    color: var(--neutral-dark-grayish-blue);
}

.item-type {
    letter-spacing: 0.3rem;
}

.title {
    font-size: 2.2rem;
    width: 80%;
    line-height: 2.1rem;
}

.description {
    line-height: 1.5rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.discount-price {
    font-size: 2.2rem;
    color: var(--primary-dark-cyan);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--primary-dark-cyan);
    border: none;
    border-radius: 8px;
    padding: 1rem;
    color: var(--neutral-white);
    font-size: 1rem;
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: var(--primary-dark-cyan-active)
}

.btn img {
    width: 1rem;
}


footer {
    font-size: 0.6rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    .card-container {
        flex-direction: column;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 21rem;
        border-radius: 12px 12px 0 0;
    }

    .title {
        width: 100%;
    }

    .card-info {
        gap: 1rem;
        padding: 1rem;
        width: 93%;
    }
}